@import 'colors';
@import 'constants';
/////////////////////////////////////////

// - Navigation - //

/////////////////////////////////////////

.top-navigation {
  background-color: $dark-blue;
  color: $white;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.social-worker {
  overflow: visible;
  white-space: nowrap;
}
