@import 'constants';

.person-search-card {
  .card-body.advanced-search-enabled {
    input.autocomplete-search-bar {
      display: none;
    }
  }

  .autocomplete-menu {
    background-color: $white;
    border: $thin-border solid $light-grey;
    border-bottom-left-radius: $larger-border-radius;
    border-bottom-right-radius: $larger-border-radius;
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: $light-weight;
    left: $base-spacing;
    margin-top: $double-spacing;
    max-height: 52rem;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 100%;
    width: calc(100% - #{$double-spacing});
    z-index: 2;
  }

  .search-item {
    border-bottom: $regular-border solid $light-grey;
    cursor: pointer;
    padding: 1rem 2rem;

    &.highlighted-search-item {
      background-color: $light-grey;
    }
  }

  input,
  select {
    border-radius: .4rem;
  }

  select:disabled {
    background-color: $lightest-grey;
    cursor: not-allowed;
  }

  .person-search-field-group {
    border-bottom: .1rem solid $lightest-grey;
    padding: 2rem 0;
  }

  .person-search-field-group:first-child {
    padding-top: 0;
  }

  .person-search-field-group:nth-child(3),
  .person-search-field-group:nth-child(4) {
    border-bottom: none;
    padding-bottom: 0;
  }

  .person-search-field-title {
    font-weight: bold;
  }

  @media only screen and (max-width: 991px) {
    .date-field,
    .age-number-field,
    .age-unit-field {
      padding: 0;
    }
  }

  @media only screen and (min-width: 992px) {
    .last-name-field,
    .first-name-field,
    .client-id-field,
    .suffix-field,
    .age-number-field,
    .address-field,
    .city-field,
    .state-field,
    .country-field {
      padding-right: .75rem;
    }

    .first-name-field,
    .middle-name-field,
    .suffix-field,
    .ssn-field,
    .age-unit-field,
    .city-field,
    .county-field,
    .country-field,
    .zip-code-field {
      padding-left: .75rem;
    }

    .person-search-label-date-of-birth {
      float: left;
    }

    .person-search-label-approximate-age {
      float: left;
    }
  }

  label.person-search-label-date-of-birth {
    margin-right: 2.8rem;
  }

  label.person-search-label-approximate-age {
    margin-top: 1.8rem;
  }

  .age-number-field input {
    margin-top: 1.5rem;
  }

  .age-unit-field select {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .age-unit-field option[value=''][disabled] {
    display: none;
  }

  .age-unit-field.placeholder-option-selected select {
    color: $dark-grey;
  }

  .sex-at-birth-field {
    padding-top: 1.5rem;
  }

  // see https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder
  // for more info about the placeholder pseudo element

  .date-field {
    // edge (it requries the -webkit-input- prefix)
    input::-webkit-input-placeholder {
      font-size: 1.4rem;
    }

    // ie 11
    input:-ms-input-placeholder {
      font-size: 1.4rem;
    }

    // chrome v57+ and firefox v51+
    input::placeholder {
      font-size: 1.4rem;
    }
  }

  .zip-code-field {
    // edge (it requries the -webkit-input- prefix)
    input::-webkit-input-placeholder {
      font-size: 1.3rem;
    }
    // ie 11
    input:-ms-input-placeholder {
      font-size: 1.3rem;
    }

    // chrome v57+ and firefox v51+
    input::placeholder {
      font-size: 1.3rem;
    }
  }

  button.btn.person-search-button.cancel {
    float: right;
  }

  button.btn.person-search-button.search {
    float: right;
    margin-left: .75rem;
  }
}
